/* Global Color Scheme*/
:root {
  --hovercolor: #dddddd;
  --title-text: #ffffff; /* White */
  --gray: #333333; /* Dark gray */
}

/* For the Default page layout*/
/* Style the Main Header*/
header {
   padding: 20px;
   text-align: center;
   color: var(--title-text);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
   font-weight: bold;
   size: 20px;
   font-size: 60px;
}
/* Style the Nav Bar and Dropdown Menus*/
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--hovercolor);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: var(--hovercolor);
  color:#f9f9f9
}
.dropdown:hover .dropdown-content {
  display: block;
}







footer {
  background-color: #f1f1f1;
  text-align: left;
  padding: 4px;
  color: var(--title-text);
  background-color: var(--gray);
  a:link{color: var(--title-text)};
}






















/* Leadership Page - container, image, name, and description formatting*/
.twocolumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;            
  max-width: 2400px;    
  margin-top: 20px auto;    
  padding: 0 20px;      
}
.leaderbio {
  display: flex;              
  align-items: center;         
  background-color: #ffffff;
  border-radius: 20px;         
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);     
  border: 1px solid #eaeaea;
  margin-left: 0px;
  margin-right: 0px;
}
.imagecontainer{
  flex-shrink: 0;              
  margin-right: 25px;          
}
.imgcircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;          
  object-fit: cover;           
  border: 3px solid var(--gray);   
}
.name {
  margin: 0;                   
  font-size: 1.6rem;
  color: #222;
}
.position{
  font-weight: bold;
  line-height: 0;
}
.bio {
  margin-top: 8px;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}


















