<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSD Pep Band</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/main.css">
    
    
</head>
    <body>
        <div class="header-container">
            <div class = "header-im"></div>
            <div class="header-text">
                <h1>THE UCSD PEPBAND</h1>
            </div>
        </div>


        <div class = "navbar">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <div class="dropdown"> 
                <button class="dropbtn">Leadership</button>
                <div class="dropdown-content">
                    <a href="/officers.html">Officers</a>
                    <a href="/sectionleaders.html">Section Leaders</a>
                </div>
            </div>
            <a href="/resources.html">Resources</a>
            <a href="/outreach.html">Outreach</a>
            <a href="/joinus">Join Us!</a>
        </div>



        
        <div class="container">

            {{ content }}

        </div><!-- /.container -->


        
        <footer>
            <p>Contact us at:</p>
            <p>Email: <a href="mailto:pepband@ucsd.edu">pepband@ucsd.edu</a></p>
            <p>Instagram: @ucsdpepband</p>
    
        </footer>
    </body>
</html>
    
