<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSD Pep Band</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
</head>
    <body>
        <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
        </nav>
        <footer>
                <ul>
                    <li><a href="mailto:pepband@ucsd.edu">email</a></li>
                </ul>
        </footer>
    </body>
</html>
    
