<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UCSD Pep Band</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    
    
</head>
    <body>
        <header class = "hawaiian">
            
            <a href= "index.html">
                The UCSD PepBand
            </a>
        </header>
        <ul class = "topnav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>



        
        <div class="container">

            {{ content }}

        </div><!-- /.container -->


        
        <footer>
            <p>Contact us at:</p>
            <p>Email: <a href="mailto:pepband@ucsd.edu">pepband@ucsd.edu</a></p>
            <p>Instagram: @ucsdpepband</p>
    
        </footer>
    </body>
</html>
    
